<div class="dialog-container">
    <h2>{{ data.title }}</h2>
    <p>{{ data.text }}</p>

    <form [formGroup]="form">
        <div class="mb-4">
            <div class="flex flex-col space-y-2">
                @for (option of data.options; track option.value; let i = $index) {
                    <app-selectable-box
                        [isSelected]="isSelected(i)"
                        [text]="option.display"
                        (click)="toggleOption(i)"
                    ></app-selectable-box>
                }
            </div>

            @if (getErrorMessage()) {
                <p class="text-red-500 text-xs italic mt-1">{{ getErrorMessage() }}</p>
            }
        </div>
    </form>

    <div class="dialog-buttons-container">
        <app-confirmation-button
                [disabled]="optionsFormArray.invalid"
                [text]="data.confirmActionName ?? 'Submit'"
                (click)="onConfirm()">
        </app-confirmation-button>
        <button
                (click)="emitClose(null)"
                class="btn cancel-btn">
            {{ data.cancelActionName ?? 'Cancel' }}
        </button>
    </div>
</div>
