<button [cdkMenuTriggerFor]="menu" class="transparent-btn">
    @if (icon()) {
        <ng-icon [svg]="icon()" class="h-5 w-5" color="var(--color-{{color()}})"></ng-icon>
    }
    @if (text()) {
        <span class="font-medium text-{{color()}}">{{text()}}</span>
    }
</button>

<ng-template #menu>
    <div cdkMenu class="min-w-[200px] py-2 mt-2 bg-layer-3 rounded-lg shadow-xl z-10 transform transition-all duration-150 ease-in-out">
        @for (action of actions(); track $index) {
            <button cdkMenuItem (click)="action.callback()" class="w-full flex items-center gap-3 px-4 py-2 text-left text-sm">
                @if (action.icon) {
                    <ng-icon [svg]="action.icon" class="h-4 w-4 mr-2 text-gray-500 dark:text-gray-400"></ng-icon>
                }
                @if (action.display) {
                    <span>{{action.display}}</span>
                }
            </button>
        }
    </div>
</ng-template>
