<div class="main-page">
  <div class="main-menu">
    <button mat-icon-button [matMenuTriggerFor]="mainMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <a mat-menu-item [routerLink]="routingService.getWebsocketsExamplePageUrl()">
        <mat-icon>cable</mat-icon>
        <span>Websockets</span>
      </a>
    </mat-menu>

    <a class="main-logo" [routerLink]="routingService.getHomeUrl()">Example</a>

    <span class="flex-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      {{(authService?.user$ | async).initials}}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </div>
  <div class="outlet-container">
    <router-outlet></router-outlet>
  </div>
</div>
