.main-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-menu {
  margin: 10px;
  display: flex;
  align-items: center;

  .main-logo {
  }
}

.user-menu-btn {
  padding: 0;
}

.outlet-container {
  flex: 1;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
