<span class="dialog-title-container" mat-dialog-title>
  <span class="dialog-title">{{title}}</span>
  <span class="flex-spacer"></span>
  <mat-icon [mat-dialog-close]="undefined" class="close-icon">close</mat-icon>
</span>
<div mat-dialog-content>
  <span>{{text}}</span>
  <form [formGroup]="inputForm" class="input-form">
    <mat-form-field>
      <mat-label>{{label}}</mat-label>
      <input type="number" matInput formControlName="inputValue" (keydown.enter)="clickedEnter()">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button class="close-btn" [mat-dialog-close]="undefined">{{cancelActionName}}</button>
  <button mat-button class="gradiant-btn" [mat-dialog-close]="getValue()"
          [disabled]="!inputForm.valid">{{confirmActionName}}</button>
</div>
