<div class="flex items-center">
  @for (linkItem of linkItems(); track linkItem; let first = $first, last = $last) {
    @if (linkItem.active) {
      <a class="text-base leading-tight no-underline text-primary transition-all duration-300 hover:underline" [class.font-semibold]="first"
         [routerLink]="linkItem.linkArr">{{linkItem.text}}</a>
    } @else {
      <span class="text-base leading-tight no-underline text-primary transition-all duration-300">{{linkItem.text}}</span>
    }
    @if (!last) {
      <ng-icon name="bootstrapChevronRight" class="mx-2.5 h-5 w-5 text-primary"></ng-icon>
    }
  }
</div>
