<div class="breadcrumbs-container">
  <ng-container *ngFor="let linkItem of linkItems; let last = last; let first = first;">
    <a class="breadcrumbs-link"
       [ngClass]="{'first-breadcrumbs-link': first}"
       [class]="mode"
       [routerLink]="linkItem.linkArr" *ngIf="linkItem.active">{{linkItem.text}}</a>
    <span class="breadcrumbs-link" [class]="mode" *ngIf="!linkItem.active">{{linkItem.text}}</span>
    <mat-icon class="breadcrumbs-separator" [class]="mode" *ngIf="!last">navigate_next</mat-icon>
  </ng-container>
</div>
