<div class="dialog-container">
  <h2>{{ data.title }}</h2>
  <p>{{ data.text }}</p>

  <form [formGroup]="form">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">{{ data.label }}</label>

      @if (!data.isTextArea) {
        <input
          [type]="data.inputType || 'text'"
          formControlName="inputValue"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          [class.border-red-500]="getErrorMessage() && (inputControl?.touched || inputControl?.dirty)"
          [maxlength]="data.maxLength"
        >
      } @else {
        <textarea
          formControlName="inputValue"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          [class.border-red-500]="getErrorMessage() && (inputControl?.touched || inputControl?.dirty)"
          [rows]="data.textAreaRows || 4"
          [maxlength]="data.maxLength"
        ></textarea>
      }

      @if (getErrorMessage() && (inputControl?.touched || inputControl?.dirty)) {
        <p class="text-red-500 text-xs italic mt-1">{{ getErrorMessage() }}</p>
      }
    </div>
  </form>

  <div class="flex justify-end">
    <app-confirmation-button
      [disabled]="form.invalid"
      [text]="data.confirmActionName ?? 'Submit'"
      (click)="onConfirm()">
    </app-confirmation-button>
    <button
      class="dialog-btn dialog-cancel-btn"
      (click)="emitClose(null)">
      {{ data.cancelActionName ?? 'Cancel' }}
    </button>
  </div>
</div>
