
.mat-mdc-tab-body-wrapper {
  flex: 1;
}

a.mat-mdc-raised-button {
  text-decoration: none;
  font-size: 13.3333px;
}

.mat-mdc-menu-content > mat-divider {
  margin: 0 5px;
}

.mat-mdc-icon-button {
  color: var(--primary-text-color) !important;
}

.mdc-text-field--filled {
  background-color: var(--inputs-color) !important;
}

.mat-mdc-standard-chip {
  background-color: var(--chips-color) !important;
}

.mat-mdc-form-field-bottom-align {
  display: none;
}

.mat-icon {
  color: var(--primary-icon-color) !important;
}

/* To override the yellow background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--primary-text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px rgba(0,0,0,0);
}
