asgiref==3.7.2
Django==5.0.2
setuptools==68.2.2
sqlparse==0.4.4
wheel==0.41.2
uvicorn[standard]==0.23.2
django-log-viewer==1.1.7
ipython==8.16.1
psycopg2-binary==2.9.9
channels==4.0.0
daphne==4.0.0
channels_redis==4.1.0
celery==5.3.4
django-celery-beat==2.5.0
django-cacheops==7.0.1
django-cors-headers==4.3.0
tzlocal==5.1
pytz==2023.3.post1

