.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.main-menu {
  background-color: white;
  background: var(--main-menu-background);
  padding: 10px;
  display: flex;
  align-self: stretch;
  align-items: center;
  height: 48px;

  .main-logo {
    color: var(--primary-text-color);
    font-family: var(--logo-text-font-family);
    text-decoration: none;
    font-size: 32px;
    margin-left: 20px;
  }
}

.welcome-text {
  color: var(--primary-text-color);
}

.login-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--card-color);
  border-radius: 5px;
  max-width: 500px;
  gap: 30px;

  .login-input {
    max-width: 250px;
  }
}
