<div class="login-page">
  <div class="main-menu">
    <a class="main-logo">Example</a>
    <span class="flex-spacer"></span>
  </div>
  <div class="login-form-container">
    <form class="login-form" [formGroup]="loginForm">
      <span class="welcome-text">Welcome back to Orra!</span>
      <mat-form-field class="login-input">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field class="login-input">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <mat-error *ngIf="failedLogin">{{failedLoginMsg}}</mat-error>
      <button mat-stroked-button [disabled]="!loginForm.valid" (click)="tryLogin()">Login</button>
    </form>
  </div>
</div>
