<mat-form-field class="chip-list">
  <mat-label>{{label}}</mat-label>
  <mat-chip-grid #chipGrid
                 class="chip-grid"
                 cdkDropList
                 [disabled]="!canEdit"
                 cdkDropListOrientation="horizontal"
                 (cdkDropListDropped)="drop($event)">
    <mat-chip-row *ngFor="let value of values" (removed)="remove(value)" cdkDrag [editable]="canEdit">
      {{this.valueToOption[value]?.display}}
      <button matChipRemove [attr.aria-label]="'remove ' + value" *ngIf="canEdit">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input #filterInput [formControl]="filterCtrl"
           [matChipInputFor]="chipGrid" [matAutocomplete]="auto"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let filteredOption of filteredOptions" [value]="filteredOption">
        {{filteredOption.display}}
      </mat-option>
    </mat-autocomplete>
  </mat-chip-grid>
</mat-form-field>
