<div class="filter-button">
  <button mat-icon-button [matMenuTriggerFor]="filterOptionsMenu" (click)="$event.stopPropagation()">
    <mat-icon>filter_list</mat-icon>
  </button>
  <mat-menu #filterOptionsMenu="matMenu">
    <div class="filter-menu">
      <input class="filter-input" type="text" *ngIf="showSearch"
             [(ngModel)]="filterValue" (ngModelChange)="filterValues()" placeholder="Search" (click)="$event.stopPropagation()" />
      <div class="options-list" *ngFor="let option of filteredOptions">
          <mat-checkbox [value]="option.value" (change)="onCheckboxChange(option.value)" [checked]="checkedValues.get(option.value)" (click)="$event.stopPropagation()">
        {{ option.display }}
        </mat-checkbox>
      </div>
    </div>
  </mat-menu>
</div>
