<div class="page">
  <div class="btns-container">
    <button mat-stroked-button (click)="showNotificationDialog()">Notification Dialog</button>
    <button mat-stroked-button (click)="getBooleanFromConfirmationDialog()">Confirmation Dialog</button>
    <button mat-stroked-button (click)="getStringFromInputDialog()">Text Dialog</button>
    <button mat-stroked-button (click)="getNumberFromInputDialog()">Number Dialog</button>
    <button mat-stroked-button (click)="getSingleOptionFromListDialog()">Single Option Dialog</button>
    <button mat-stroked-button (click)="getMultiOptionsFromListDialog()">Multi Options Dialog</button>
  </div>

  <span class="results-text">{{ results | json }}
  </span>
</div>
