.table-page-flow {
  display: flex;
  flex-direction: column;
}

.table-container {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.inner-table {
  min-width: 100%;
  background-color: var(--list-item-background-color);
}

.inner-table > thead > tr > th {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
}

.element-row td {
  border-bottom-width: 0;
}

th {
  white-space: nowrap;
}

.loading-row > td > .cell-content {
  width: 100%;
  height: 16px;
  background: linear-gradient(285deg,var(--components-background-color), white) 0% 50%;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
