.table-container {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.inner-table {
  min-width: 100%;
  background-color: var(--list-item-background-color);
}

.inner-table>thead>tr>th{
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
}

.element-row td {
  border-bottom-width: 0;
}

th {
  white-space: nowrap;
}
