.options-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .dialog-text {

  }

  .dialog-options-field {
    margin-top: 8px;
  }

  .dialog-options-container {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}
