<span class="dialog-title-container" mat-dialog-title>
  <span class="dialog-title">{{title}}</span>
  <mat-icon [mat-dialog-close]="undefined" class="close-icon">close</mat-icon>
</span>
<div mat-dialog-content class="options-dialog-content">
  <span class="dialog-text">{{text}}</span>
  <mat-form-field class="dialog-options-field" appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedValue">
      <mat-option *ngIf="allowEmpty"></mat-option>
      <mat-option [value]="option.value" *ngFor="let option of data.options">{{option.display}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button class="close-btn" [mat-dialog-close]="undefined">{{cancelActionName}}</button>
  <button mat-button class="gradiant-btn" color="primary" (click)="submit()" [disabled]="!isValid">{{confirmActionName}}</button>
</div>
