
.icon{
  color: var(--primary-icon-color);
}

.paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  .current-items {
    cursor: pointer;
    margin: 0 20px;
    color: var(--primary-text-color);
  }

  .current-page {
    cursor: pointer;
    margin: 0 20px;
    color: var(--primary-text-color);
  }
}
