<div class="dialog-container">
    <h2>{{ data.title }}</h2>
    <p>{{ data.text }}</p>

    <form [formGroup]="form">
        <div class="mb-4">
            @if (data.label) {
                <span class="block text-sm text-writing font-bold mb-2">{{ data.label }}</span>
            }

            <!-- Dropdown selection method (default) -->
            @if (!data.method || data.method === 'dropdown') {
                <div class="relative">
                    <select
                            formControlName="selectedValue"
                            class="shadow appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline pr-8 cursor-pointer"
                            [class.border-red-500]="getErrorMessage() && (selectionControl?.touched || selectionControl?.dirty)"
                    >
                        @if (data.allowEmpty) {
                            <option value="">-- Select an option --</option>
                        }
                        @for (option of data.options; track option.value) {
                            <option [ngValue]="option.value">{{ option.display }}</option>
                        }
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                        <ng-icon [svg]="chevronDownIcon" class="h-4 w-4"></ng-icon>
                    </div>
                </div>
            }

            <!-- Buttons selection method -->
            @if (data.method === 'buttons') {
                <div class="flex flex-col space-y-4">
                    @for (option of data.options; track option.value) {
                        <app-selectable-box
                                [isSelected]="isSelected(option.value)"
                                [text]="option.display"
                                (click)="toggleValue(option.value)"
                        ></app-selectable-box>
                    }
                </div>
            }

            @if (getErrorMessage() && (selectionControl?.touched || selectionControl?.dirty)) {
                <p class="text-red-500 text-xs italic mt-1">{{ getErrorMessage() }}</p>
            }
        </div>
    </form>

    <div class="dialog-buttons-container">
        <app-confirmation-button
                [disabled]="form.invalid"
                [text]="data.confirmActionName ?? 'Submit'"
                (clicked)="onConfirm()">
        </app-confirmation-button>
        <button
                (click)="emitClose(null)"
                class="btn cancel-btn">
            {{ data.cancelActionName ?? 'Cancel' }}
        </button>
    </div>
</div>
